* body, html body {
  background-color: black;
}

.nav-container {
  width: 100%;
}
.nav-container .menu {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container .menu .logo {
  text-decoration: none;
}
.nav-container .menu .logo img {
  width: 100px;
  height: 50px;
}

.main-container main {
  padding-top: 50px;
}

#catx {
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 25px;
}

.footer {
  z-index: 1;
  --footer-background:#ffffff;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
.footer .content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--footer-background);
}
.footer .content .km-con {
  padding-top: 20px;
}
.footer .content a, .footer .content p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer .content a img, .footer .content p img {
  width: 100px;
  height: 50px;
}
.footer .content b {
  color: rgb(0, 0, 0);
}
.footer .content p {
  margin: 0;
  font-size: 16px;
}
.footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .content > div > div {
  margin: 0.25rem 0;
}
.footer .content > div > div > * {
  margin-right: 0.5rem;
}
.footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}/*# sourceMappingURL=style.css.map */