*,html{
    body{
        background-color: black;
        // overflow: hidden;
    }
}
.nav-container{
    width: 100%;
    .menu{
        width: 100%;
        height: 80px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            text-decoration: none;
            img{
                width: 100px;
                height: 50px;
                // object-fit: cover;
            }
        }
    }
}
.main-container{
    main{
        padding-top: 50px;
    }
}
#catx{
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 25px;
}
.footer {
    z-index: 1;
    --footer-background:#ffffff;
    display:grid;
    position: relative;
    grid-area: footer;
    min-height:12rem;
    .bubbles {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:1rem;
        background:var(--footer-background);
        filter:url("#blob");
        .bubble {
            position: absolute;
            left:var(--position, 50%);
            background:var(--footer-background);
            border-radius:100%;
            animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            transform:translate(-50%, 100%);
        }
    }
    .content {
        z-index: 2;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding:2rem;
        background:var(--footer-background);
        .km-con{
            padding-top: 20px;
            
        }
        a, p {
            display: flex;
            align-items: center;
            justify-content: center;flex-direction: column;
            color:#000000;
            text-decoration:none;
            font-size: 16px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            img{
                width: 100px;
                height: 50px;
            }
        }
        b {
            color:rgb(0, 0, 0);
        }
        p {
            margin:0;
            font-size:16px;
        }
        >div {
            display:flex;
            flex-direction:column;
            justify-content: center;
            >div {
                margin:0.25rem 0;
                >* {
                    margin-right:.5rem;
                }
            }
            .image {
                align-self: center;
                width:4rem;
                height:4rem;
                margin:0.25rem 0;
                background-size: cover;
                background-position: center;
            }
        }
    }
}
@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
}
